* > div {
    border: 1px solid black;
}

.header { grid-area: header; }
.sidebar { grid-area: sidebar; }
.content { grid-area: content; }
.projects { grid-area: projects; }
.announcements { grid-area: announcements; }
.trending { grid-area: trending; }


body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar content"
}

.header-search {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.header-search .left {
    display: grid;
    grid-template-columns: 50px auto;
}

.header-search .right {
    display: grid;
    grid-template-columns: 50px 50px auto;
}

.header-icons {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.header-icons .left {
    display: grid;
    grid-template-columns: minmax(50px, 100px) auto;
}

.header-icons .left > div {
    grid-row: span 2;
}

.header-icons .right {
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}


.sidebar-btn {
    display: grid;
    grid-template-columns: 20px auto;
}





.content {
    display: grid;
    grid-template-columns: auto 400px;
    grid-template-areas: 
    "projects announcements"
    "projects trending";
}




.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto 1fr;
    grid-auto-rows: 1fr
}

.projects > h2{
    grid-column: 1 / -1;
}

.project-card {
    display: flex;
    flex-direction: column;
    height: 200px;
    padding: 20px;
}

.project-card > .icons {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    margin-top: auto;
    align-self: flex-end;
}





.announcements,
.trending {
    display: grid;
    grid-template-rows: auto 1fr;
}

.announcements > .cards,
.trending > .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.announcements > .cards > div {
    flex-direction: column;
}

.announcements > .cards > div,
.trending > .cards > div {
    flex: 1;
    display: flex;
}

.trending > .cards > div {
    align-items: center;
}



